In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv("LAB5.csv")
display(df)

,Date,Region,Salesperson,Product,Units Sold,Price per Unit,Revenue
0,01-01-2024,North,Alice,Widget A,10,20,200
1,02-01-2024,North,Bob,Widget B,5,30,150
2,02-01-2024,South,Charlie,Widget A,15,20,300
3,03-01-2024,East,Alice,Widget A,12,20,240
4,03-01-2024,North,Bob,Widget A,20,20,0
5,04-01-2024,West,David,Widget B,8,30,240
6,05-01-2024,South,Charlie,Widget B,10,30,300
7,05-01-2024,East,Alice,Widget B,9,30,270

In [6]:
pivot1 = df.pivot_table(values="Revenue", index="Date", columns="Salesperson", aggfunc="sum", fill_value=0)
print("=== 1. Total Revenue by Salesperson per Date ===")
print(pivot1, "\n")

=== 1. Total Revenue by Salesperson per Date ===
Salesperson  Alice  Bob  Charlie  David
Date
01-01-2024     200    0        0      0
02-01-2024       0  150      300      0
03-01-2024     240    0        0      0
04-01-2024       0    0        0    240
05-01-2024     270    0      300      0

In [8]:
avg_revenue = df.groupby("Product")["Revenue"].mean()
print("=== 2. Average Revenue per Sale (by Product) ===")
print(avg_revenue, "\n")

=== 2. Average Revenue per Sale (by Product) ===
Product
Widget A    185.0
Widget B    240.0
Name: Revenue, dtype: float64

In [10]:
max_units = df.groupby("Salesperson")["Units Sold"].max()
print("=== 3. Maximum Units Sold by Each Salesperson ===")
print(max_units, "\n")

=== 3. Maximum Units Sold by Each Salesperson ===
Salesperson
Alice      12
Bob        20
Charlie    15
David       8
Name: Units Sold, dtype: int64

In [12]:
region_revenue = df.groupby("Region")["Revenue"].sum()
region_percentage = (region_revenue / region_revenue.sum()) * 100
print("=== 4. Percentage of Total Revenue by Region ===")
print(region_percentage, "\n")

=== 4. Percentage of Total Revenue by Region ===
Region
East     30.000000
North    20.588235
South    35.294118
West     14.117647
Name: Revenue, dtype: float64

In [14]:
transactions = df["Salesperson"].value_counts()
top_salesperson = transactions.idxmax()
print("=== 5. Number of Transactions per Salesperson ===")
print(transactions)
print(f"\nTop Salesperson (Most Transactions): {top_salesperson}\n")

=== 5. Number of Transactions per Salesperson ===
Salesperson
Alice      3
Bob        2
Charlie    2
David      1
Name: count, dtype: int64

Top Salesperson (Most Transactions): Alice

In [16]:
pivot2 = df.pivot_table(
    values=["Revenue", "Units Sold"],
    index="Salesperson",
    columns="Product",
    aggfunc="sum",
    fill_value=0
)
print("=== 6. Total Revenue and Units Sold by Salesperson & Product ===")
print(pivot2, "\n")

=== 6. Total Revenue and Units Sold by Salesperson & Product ===
             Revenue          Units Sold
Product     Widget A Widget B   Widget A Widget B
Salesperson
Alice            440      270         22        9
Bob                0      150         20        5
Charlie          300      300         15       10
David              0      240          0        8

In [18]:
pivot3 = df.pivot_table(values="Units Sold", index="Date", columns="Region", aggfunc="sum", fill_value=0)
print("=== 7. Total Units Sold by Region on Each Date ===")
print(pivot3, "\n")

=== 7. Total Units Sold by Region on Each Date ===
Region      East  North  South  West
Date
01-01-2024     0     10      0     0
02-01-2024     0      5     15     0
03-01-2024    12     20      0     0
04-01-2024     0      0      0     8
05-01-2024     9      0     10     0