In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df=pd.read_csv("lab4.csv")
display(df)

   Country  Year  Population       GDP  Life_Expectency
0      USA  2020   331000000  21000000             78.5
1      USA  2021   332000000  21500000             78.7
2    China  2020  1402000000  14700000             76.9
3    China  2021  1405000000  15500000             77.1
4  Germany  2020    83000000   4000000             81.3
5  Germany  2021    83100000   4200000             81.5

In [8]:
print(f"Mean population : {df['Population'].mean()}")

Mean population : 606016666.6666666

In [10]:
print(f"Total GDP:{df['GDP'].sum()}")

Total GDP:80900000

In [16]:
max1 = df['Population'].max()
min1 = df['Population'].min()
display(max1)
display(min1)

1405000000

83000000

In [20]:
mean1 = df['GDP'].mean()
summ1 = df['GDP'].sum()
max2 = df['GDP'].max()
min2 = df['GDP'].min()
display(mean1)
display(max2)
display(summ1)
display(min2)

13483333.333333334

21500000

80900000

4000000

In [22]:
GDP_INC = df["GDP"]*0.1+df["GDP"]
display(GDP_INC)

0    23100000.0
1    23650000.0
2    16170000.0
3    17050000.0
4     4400000.0
5     4620000.0
Name: GDP, dtype: float64

In [30]:
multindex = df.set_index(["Country" , "Year"])

In [32]:
data_swapped = multindex.swaplevel()
display(data_swapped)

              Population       GDP  Life_Expectency
Year Country
2020 USA       331000000  21000000             78.5
2021 USA       332000000  21500000             78.7
2020 China    1402000000  14700000             76.9
2021 China    1405000000  15500000             77.1
2020 Germany    83000000   4000000             81.3
2021 Germany    83100000   4200000             81.5

In [34]:
data_swapped_sort= data_swapped.sort_index()
display(data_swapped_sort)

              Population       GDP  Life_Expectency
Year Country
2020 China    1402000000  14700000             76.9
     Germany    83000000   4000000             81.3
     USA       331000000  21000000             78.5
2021 China    1405000000  15500000             77.1
     Germany    83100000   4200000             81.5
     USA       332000000  21500000             78.7